[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Desktop
GenericName=Jade Desktop
Comment=Jade is a Desktop Dashboard that provides minimal desktop environment functionality
Path=/opt/jade
Exec=/usr/bin/jade
Icon=/opt/jade/img/jade-logo.svg
Terminal=false
Categories=Utility;Core;GTK;GNOME;JADE;
