[Desktop Entry]
Version=1.0
Icon=preferences-desktop-user
Exec=manjaro-settings-manager -m msm_users
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;X-LXDE-Settings;X-KDE-Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
X-AppStream-Ignore=true
StartupNotify=false

Name=User Accounts
Name[bg_BG]=Потребителски профили
Name[ca]=Comptes d'usuari
Name[cs_CZ]=Účty uživatelů
Name[da]=Brugerkonti
Name[de]=Benutzerkonten
Name[el]=Λογαριασμοί χρηστών
Name[es]=Cuentas de usuario
Name[es_419]=Cuentas de Usuario
Name[fa_IR]=حساب کاربری
Name[fr]=Comptes utilisateur
Name[hr]=Korisnički računi
Name[hu]=Felhasználói fiókok
Name[is]=Aðgangar notanda
Name[it]=Account Utenti
Name[ja]=ユーザーアカウント
Name[lt]=Naudotojų paskyros
Name[pl]=Konta użytkowników
Name[pt_BR]=Contas de Usuário
Name[pt_PT]=Contas de Utilizador
Name[ro]=Conturi Utilizatori
Name[ru]=Аккаунты пользователя
Name[sk_SK]=Používateľské účty
Name[sl]=Uporabniški računi
Name[sv]=Användarkonton
Name[tr]=Kullanıcı Hesapları
Name[uk]=Облікові записи
Name[zh_CN]=用户账户
Name[zh_TW]=使用者帳號

Name[ast]=Cuentes d'usuariu
Name[he]=חשבונות משתמש


Comment=User accounts configuration
Comment[bg_BG]=Настройки на потребителските профили
Comment[ca]=Configuració dels comptes d'usuari
Comment[cs_CZ]=Nastavení uživatelských účtů
Comment[da]=Konfiguration af brugerkonti
Comment[de]=Konfiguration der Benutzerkonten
Comment[es]=Configuración de cuentas de usuario
Comment[es_419]=Configuración de cuentas de usuario
Comment[fa_IR]=تنظیمات حساب کاربری
Comment[fr]=Configuration des comptes utilisateur
Comment[hr]=Konfiguracija korisničkih računa
Comment[hu]=Felhasználói fiókok konfigurálása
Comment[is]=Aðgangar notanda stillingar
Comment[it]=Configurazione account utenti
Comment[ja]=ユーザーアカウントの設定
Comment[lt]=Naudotojų paskyrų konfigūravimas
Comment[pl]=Konfiguracja kont użytkowników
Comment[pt_BR]=Configuração de contas de usuário
Comment[pt_PT]=Configurar contas do utilizador
Comment[ro]=Configurarea conturi de utilizator
Comment[ru]=Настройка аккаунтов пользователя
Comment[sk_SK]=Nastavenie používateľských účtov
Comment[sl]=Nastavitev uporabniških računov
Comment[sv]=Användarkontoinställningar
Comment[tr]=Kullanıcı hesabı yapılandırma aracı
Comment[uk]=Конфігурація облікових записів
Comment[zh_CN]=用户账户设定
Comment[zh_TW]=

