[Desktop Entry]
Version=1.0
Icon=preferences-desktop-keyboard
Exec=manjaro-settings-manager -m msm_keyboard
Terminal=false
Type=Application
X-AppStream-Ignore=true
StartupNotify=false
Categories=Settings;DesktopSettings;X-LXDE-Settings;X-KDE-Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;

Name=Keyboard Settings
Name[ast]=Axustes de tecláu
Name[bg_BG]=Настройки на клавиатурата
Name[ca]=Configuració del teclat
Name[cs_CZ]=Nastavení klávesnice
Name[da]=Tastaturindstillinger
Name[de]=Tastatureinstellungen
Name[el]=Ρυθμίσεις πληκτρολογίου
Name[es]=Configuración del teclado
Name[es_419]=Configuración de Teclado
Name[fa_IR]=تنظیمات صفحه کلید
Name[fi]=Näppäimistöasetukset
Name[fr]=Paramètres clavier
Name[hr]=Postavke tipkovnice
Name[hu]=Billentyűzet Beállítások
Name[is]=Stillingar lyklaborðs
Name[it]=Impostazioni Tastiera
Name[ja]=キーボードの設定
Name[lt]=Klaviatūros nustatymai
Name[nb]=Tastaturoppsett
Name[nl]=Toetsenbord Instellingen
Name[pl]=Ustawienia klawiatury
Name[pt_BR]=Configurações do teclado
Name[pt_PT]=Opções do teclado
Name[ro]=Setări Tastatură
Name[ru]=Настройки клавиатуры
Name[sk_SK]=Nastavenia klávesnice
Name[sl]=Nastavitve tipkovnice
Name[sq]=Opcionet për tastaturë
Name[sv]=Tangentbordsinställningar
Name[tr]=Klavye Ayarları
Name[uk]=Налаштування Клавіатури
Name[zh_CN]=键盘设置
Name[zh_TW]=鍵盤設定

Name[he]=הגדרות מקלדת

Comment=Keyboard settings
Comment[ast]=Axustes de tecláu
Comment[bg_BG]=Настройки на клавиатурата
Comment[ca]=Configuració del teclat
Comment[cs_CZ]=Nastavení klávesnice
Comment[da]=Tastaturindstillinger
Comment[de]=Tastatureinstellungen
Comment[el]=Ρυθμίσεις πληκτρολογίου
Comment[es]=Configuración del teclado
Comment[es_419]=Configuración de teclado
Comment[fa_IR]=تنظیمات صفحه کلید
Comment[fi]=Näppäimistöasetukset
Comment[fr]=Paramètres clavier
Comment[hr]=Postavke tipkovnice
Comment[hu]=Billentyűzet beállítások
Comment[is]=Stillingar lyklaborðs
Comment[it]=Impostazioni della tastiera
Comment[ja]=キーボードの設定
Comment[lt]=Klaviatūros nustatymai
Comment[nb]=Tastaturoppsett
Comment[nl]=Toetsenbord instellingen
Comment[pl]=Ustawienia klawiatury
Comment[pt_BR]=Configurações do teclado
Comment[pt_PT]=Opções do Teclado
Comment[ro]=Setări Tastatură
Comment[ru]=Настройки клавиатуры
Comment[sk_SK]=Zmena nastavení klávesnice
Comment[sl]=Nastavitve tipkovnice
Comment[sq]=Opcionet për tastaturë
Comment[sv]=Tangentbordsinställningar
Comment[tr]=Klavye ayarları
Comment[uk]=Налаштування клавіатури
Comment[zh_CN]=键盘设置
Comment[zh_TW]=鍵盤設定

