[Desktop Entry]
Version=1.0
Type=Application
Icon=preferences-system
Terminal=false
Exec=manjaro-settings-manager -m msm_kernel
Categories=Settings;DesktopSettings;X-LXDE-Settings;X-KDE-Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
X-AppStream-Ignore=true
StartupNotify=false

Name=Kernel
Name[ast]=Kernel
Name[bg_BG]=Ядро
Name[ca]=Nucli
Name[cs_CZ]=Jádro
Name[da]=Kerne
Name[de]=Kernel
Name[el]=Πυρήνας
Name[es]=Núcleo
Name[es_419]=Kernel
Name[fa_IR]=کرنل
Name[fi]=Ydin
Name[fr]=Noyau
Name[hr]=Jezgra
Name[hu]=Kernel
Name[is]=Kjarni
Name[it]=Kernel
Name[ja]=カーネル
Name[lt]=Branduolys
Name[nb]=Kjerne
Name[nl]=Kernel
Name[pl]=Jądro
Name[pt_BR]=Kernel
Name[pt_PT]=Kernel
Name[ro]=Nucleu
Name[ru]=Ядро
Name[sk_SK]=Jadro
Name[sl]=Jedro
Name[sq]=Kernel
Name[sv]=Kärna
Name[tr]=Linux Çekirdeği
Name[uk]=Ядро
Name[zh_CN]=内核
Name[zh_TW]=核心

Name[he]=קרנל

Comment=Add and remove manjaro kernels
Comment[bg_BG]=Добавяне и премахване на ядра
Comment[ca]=Afegiu i elimineu nuclis del Manjaro
Comment[da]=Tilføj og fjerne manjaro-kerner
Comment[de]=Manjaro-Kernel hinzufügen oder entfernen
Comment[el]=Προσθήκη και αφαίρεση πυρήνων manjaro
Comment[es]=Añadir o quitar núcleos Manjaro
Comment[es_419]=Agregar y quitar kernels de manjaro
Comment[fa_IR]=حذف و اضافه کردن کرنل های مانجارو
Comment[fi]=Lisää ja poista manjaro ytimiä
Comment[fr]=Ajouter et supprimer des noyaux manjaro
Comment[hr]=Dodaj i ukloni manjaro jezgre
Comment[hu]=Manjaro kernelek hozzáadása és eltávolítása
Comment[is]=Bæta við og fjarlægja manjaro kjarna
Comment[it]=Aggiungi e rimuovi i kernel di Manjaro
Comment[ja]=カーネルの追加と削除
Comment[lt]=Pridėti ir šalinti manjaro branduolius
Comment[nb]=Legg til og fjern Manjaros kjerner
Comment[nl]=Voeg toe en verwijder manjaro kernels
Comment[pl]=Dodawaj i usuwaj jądra systemowe
Comment[pt_BR]=Adicionar e remover kernels manjaro
Comment[pt_PT]=Adicionar ou remover kernels
Comment[ro]=Adaugă şi şterge nuclee manjaro
Comment[ru]=Добавить или удалить ядра manjaro
Comment[sk_SK]=Pridanie a odstránenie jadier systému Manjaro
Comment[sl]=Dodaj ali odstrani manjaro jedra
Comment[sq]=Shto dhe hiq kernelin manjaro
Comment[sv]=Lägg till och ta bort Manjarokärnor
Comment[tr]=Manjaro için linux çekirdeği ekle ve kaldır
Comment[uk]=Додавання і видалення ядра manjaro
Comment[zh_CN]=安装或已出 Manjaro 内
Comment[zh_TW]=新增與移除 manjaro 核心

