[Desktop Entry]
Version=1.0
Icon=preferences-desktop-locale
Exec=manjaro-settings-manager -m msm_language_packages
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;X-LXDE-Settings;X-KDE-Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
X-AppStream-Ignore=true
StartupNotify=false

Name=Language Packages
Name[ast]=Paquetes de llingua
Name[bg_BG]=Езикови пакети
Name[ca]=Paquets de llengua
Name[cs_CZ]=Jazykové balíčky
Name[da]=Sprogpakker
Name[de]=Sprachpakete
Name[es]=Paquetes de idioma
Name[es_419]=Paquetes de Idioma
Name[fa_IR]=بسته های زبان
Name[fi]=Kielipaketit
Name[fr]=Paquets linguistiques
Name[hr]=Jezični paketi
Name[hu]=Nyelvi Csomagok
Name[is]=Tungumálapakkar
Name[it]=Pacchetti Linguistici
Name[ja]=言語パッケージ
Name[lt]=Kalbos paketai
Name[nb]=Språkpakker
Name[pl]=Pakiety językowe
Name[pt_BR]=Pacotes de Idioma
Name[pt_PT]=Pacotes de Lingua
Name[ro]=Pachete de limbă
Name[ru]=Языковые пакеты
Name[sk_SK]=Jazykové balíky
Name[sl]=Jezikovni paketi
Name[sq]=Paketat Gjuhë
Name[sv]=Språkpaket
Name[tr]=Dil Paketleri
Name[uk]=Мовні Пакунки
Name[zh_CN]=语言包
Name[zh_TW]=語言包

Name[el]=Πακέτα γλωσσών
Name[he]=חבילות שפה


Comment=Detection and installation of language packages
Comment[ast]=Deteición ya instalación de paquetes de llingües
Comment[bg_BG]=Засичане и инсталиране на езикови пакети
Comment[ca]=Detecció i instal·lació de paquets de llengua
Comment[da]=Registrering og installation af sprogpakker
Comment[de]=Erkennung und Installation von Sprachpaketen
Comment[es]=Detección e instalación de paquetes de idioma
Comment[es_419]=Detección e instalación de paquetes de idioma
Comment[fa_IR]=تشخیص و نصب بسته های زبان
Comment[fi]=Havaitaan ja asennetaan kielipaketteja
Comment[fr]=Détection et installation des paquets linguistiques
Comment[hr]=Otkrivanje i instalacija jezičnih paketa
Comment[hu]=Nyelvi csomagok észlelése és telepítése
Comment[is]=Greining og uppsetningu á tungumála pakka
Comment[it]=Rilevamento ed installazione dei pacchetti linguistici
Comment[ja]=言語パッケージの検出とインストール
Comment[lt]=Kalbos paketų aptikimas ir įdiegimas
Comment[pl]=Wykrywanie i instalacja pakietów językowych
Comment[pt_BR]=Detecção e instalação de pacotes de idioma
Comment[pt_PT]=Detecção e instalação de pacotes de lingua
Comment[ro]=Detectarea și instalarea pachetelor de limbă
Comment[ru]=Определение и установка языковых пакетов
Comment[sk_SK]=Rozpoznanie a inštalácia jazykových balíkov
Comment[sl]=Zaznava in namestitev jezikovnih paketov
Comment[sq]=Zbulimi dhe instalimin e paketave gjuhësore
Comment[sv]=Upptäckt och installation av språkpaket
Comment[tr]=Dil paketleri algılama ve yükleme aracı
Comment[uk]=Виявлення та встановлення мовних пакунків
Comment[zh_CN]=侦测并安装语言包
Comment[zh_TW]=偵測與安裝語言包

