#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Icon=audio-card
Exec=manjaro-settings-manager -m msm_mhwd
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;X-LXDE-Settings;X-KDE-Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
X-AppStream-Ignore=true
StartupNotify=false

Name=Hardware Configuration
Name[ca]=Configuració del maquinari
Name[cs_CZ]=Nastavení hardware
Name[da]=Hardwarekonfiguration
Name[de]=Hardwarekonfiguration
Name[el]=Ρύθμιση υλικού
Name[es]=Configuración de hardware
Name[es_419]=Configuración de Hardware
Name[fa_IR]=پیکربندی سخت افزار
Name[fi]=Laitteiston asetukset
Name[fr]=Configuration Matérielle
Name[hr]=Konfiguracija sklopovlja
Name[hu]=Hardware Konfiguráció
Name[is]=Vélbúnaðar stillingar
Name[it]=Configurazione Hardware
Name[ja]=ハードウェアの設定
Name[lt]=Aparatinės įrangos konfigūravimas
Name[nb]=Maskinvareoppsett
Name[nl]=Hardware Configuratie
Name[pl]=Konfiguracja sprzętowa
Name[pt_BR]=Configuração de Hardware
Name[pt_PT]=Configuração do Hardware
Name[ro]=Configurare Hardware
Name[ru]=Конфигурация оборудования
Name[sk_SK]=Konfigurácia hardvéru
Name[sl]=Strojna nastavitev
Name[sv]=Hårdvarukonfiguration
Name[tr]=Donanım Yapılandırma Aracı
Name[uk]=Конфігурація обладнання
Name[zh_CN]=硬件设定
Name[zh_TW]=硬體設定

Name[ast]=Configuración de Hardware


Comment=Manjaro Hardware Detection graphical user interface
Comment[ca]=Interfície d'usuari gràfica per a la Detecció de maquinari del Manjaro
Comment[da]=Manjaro hardwareregistrering grafisk brugerflade
Comment[de]=Grafische Benutzeroberfläche der Manjaro-Hardwareerkennung
Comment[es]=Interfaz gráfica de usuario para Manjaro Hardware Detection
Comment[es_419]=Interfaz gráfica de Detección de Hardware de Manjaro
Comment[fa_IR]=تشخیص سخت افزاری رابط گرافیکی کاربر مانجارو
Comment[fi]=Manjaro laitteiston tunnistuksen graaffinen käyttöliittymä
Comment[fr]=Interface utilisateur de détection matérielle de Manjaro
Comment[hr]=Grafičko korisničko sučelje za Manjaro Hardware Detection
Comment[hu]=Manjaro Hardware Érzékelés grafikus felhasználói felület
Comment[is]=Manjaro vélbúnaðar greining með grafísku notendaviðmóti
Comment[it]=Interfaccia grafica di Manjaro Hardware Detection
Comment[ja]=Manjaro Hardware Detection graphical user interface
Comment[lt]=Manjaro aparatinės įrangos aptikimo grafinė naudotojo sąsaja
Comment[nb]=Grensesnitt for Manjaro Hardware Detection
Comment[pl]=Graficzny interfejs użytkownika wykrywania sprzętu Manjaro
Comment[pt_BR]=Interface Gráfica do Usuário Manjaro Hardware Detection
Comment[pt_PT]=Manjaro Hardware Detection interface gráfica do utilizador
Comment[ro]=Interfața grafică de detectare hardware a sistemului Manjaro
Comment[ru]=Графический интерфейс Manjaro Hardware Detection
Comment[sk_SK]=Grafické rozhranie pre rozpoznanie hardvéru systému Manjaro
Comment[sl]=Manjaro strojna zaznava grafičnega vmesnika
Comment[sv]=Manjaros hårdvarudetekteringsverktyg
Comment[tr]=MHWD - Manjaro Donanım Yapılandırma grafik arayüzü
Comment[uk]=Manjaro виявлено обладнання графічний користувальницький інтерфейс
Comment[zh_CN]=使用 Manjaro 硬件侦测图形用户界面
Comment[zh_TW]=Manjaro 硬體偵測圖形使用者介面

