[Desktop Entry]
Version=1.0
Icon=preferences-desktop-locale
Exec=manjaro-settings-manager -m msm_locale
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;X-LXDE-Settings;X-KDE-Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
X-AppStream-Ignore=true
StartupNotify=false

Name=Locale
Name[ast]=Axustes de locale
Name[bg_BG]=Регионални настройки
Name[ca]=Configuració de llengua
Name[cs_CZ]=Místní nastavení
Name[da]=Regionsindstillinger
Name[de]=Sprachumgebungseinstellungen
Name[es]=Configuración regional
Name[es_419]=Configuración Regional
Name[fa_IR]=تنظیمات محلی
Name[fi]=Paikallisasetukset
Name[fr]=Paramètres régionaux
Name[hr]=Postavke za jezične sheme
Name[hu]=Lokális Beállítások
Name[is]=Staðfærslustillingar
Name[it]=Impostazioni di Localizzazione
Name[ja]=ロケールの設定
Name[lt]=Lokalės nustatymai
Name[nb]=Lokale innstillinger
Name[nl]=Lokale Instellingen
Name[pl]=Ustawienia lokalne
Name[pt_BR]=Configurações de localização
Name[pt_PT]=Definições de localização
Name[ro]=Setări regionale
Name[ru]=Настройки региона
Name[sk_SK]=Miestne nastavenia
Name[sl]=Krajevne nastavitve
Name[sv]=Språkinställningar
Name[tr]=Yerel Ayarları
Name[uk]=Локальні налаштування
Name[zh_CN]=本地化设定
Name[zh_TW]=語言設定

Name[el]=Τοπικές ρυθμίσεις
Name[he]=הגדרות מקומיות


Comment=Add and configure locales
Comment[bg_BG]=Добавяне и настройване на регионалните стандарти
Comment[ca]=Afegiu i configureu llengües
Comment[cs_CZ]=Přidat a nastavit lokalizaci
Comment[da]=Tilføj og konfigurér regioner
Comment[de]=Sprachumgebungen hinzufügen und konfigurieren
Comment[es]=Añadir y configurar la configuración regional
Comment[es_419]=Añadir configuración regional
Comment[fa_IR]=اضافه و پیکربندی کردن مناطق
Comment[fi]=Lisää ja määritä paikallisasetukset
Comment[fr]=Ajouter et configurer des paramètres régionaux
Comment[hr]=Dodaj i konfiguriraj jezične sheme
Comment[hu]=Lokális beállítások hozzáadása és konfigurálása
Comment[is]=Bæta við og stilla málkröfur
Comment[it]=Aggiungi e configura le localizzazioni
Comment[ja]=ロケールの追加と設定
Comment[lt]=Pridėti ir konfigūruoti lokales
Comment[nb]=Legg til og konfigurer regionaldata
Comment[pl]=Dodaj i konfiguruj pakiety językowe
Comment[pt_BR]=Adicionar e configurar locais
Comment[pt_PT]=Adicionar e configurar locais
Comment[ro]=Adaugă și configurează setările regionale
Comment[ru]=Добавить или настроить регионы
Comment[sk_SK]=Pridanie a zmena miestnych nastavení
Comment[sl]=Dodaj in nastavi krajevne nastavitve.
Comment[sv]=Lägg till och konfigurera språk
Comment[tr]=Sistem yereli ekleme ve yapılandırma aracı
Comment[uk]=Додавання і налагодження локалей
Comment[zh_CN]=添加并设定本地化设置
Comment[zh_TW]=新增與設定語言

