[Desktop Entry]
Version=1.0
Icon=preferences-system-time
Exec=manjaro-settings-manager -m msm_timedate
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;X-LXDE-Settings;X-KDE-Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
X-AppStream-Ignore=true
StartupNotify=false

Name=Time and Date
Name[ar]=الوقت والتاريخ
Name[ast]=Data y hora
Name[bg_BG]=Час и дата
Name[ca]=Data i hora
Name[cs_CZ]=Datum a čas
Name[da]=Klokkeslæt og dato
Name[de]=Zeit und Datum
Name[el]=Ώρα και ημερομηνία
Name[es]=Fecha y hora
Name[es_419]=Hora y Fecha
Name[es_AR]=Hora y Fecha
Name[fa]=زمان و تاریخ
Name[fa_IR]=زمان و تاریخ
Name[fi]=Aika ja päiväys
Name[fr]=Heure et Date
Name[gl_ES]=Hora e data
Name[he]=שעה ותאריך
Name[hr]=Datum i vrijeme
Name[hu]=Idő és Dátum
Name[id_ID]=Waktu dan Tanggal
Name[is]=Tími og dagsetning
Name[it]=Data e Ora
Name[ja]=時刻及び日付
Name[lt]=Laikas ir data
Name[nb]=Tid og Dato
Name[nl]=Tijd en Datum
Name[pl]=Czas i data
Name[pt_BR]=Hora e Data
Name[pt_PT]=Horário e Data
Name[ro]=Ora și Data
Name[ru]=Время и дата
Name[sk_SK]=Čas a dátum
Name[sl]=Čas in datum
Name[sr]=Време и датум
Name[sv]=Tid och datum
Name[tr]=Tarih ve Zaman
Name[uk]=Час та Дата
Name[uz@Latn]=Vaqt va sana
Name[zh_CN]=时间和日期
Name[zh_TW]=時間與日期
Comment=Time and date configuration
Comment[bg_BG]=Настройки на часа и датата
Comment[ca]=Configuració de la data i l'hora
Comment[cs_CZ]=Nastavení data a času
Comment[da]=Konfiguration af klokkeslæt og dato
Comment[de]=Zeit- und Datumskonfiguration
Comment[es]=Configuració de fecha y hora
Comment[es_419]=Configuración de fecha y hora
Comment[fa_IR]=تنظیمات زمان و تاریخ
Comment[fi]=Ajan ja päivän asetukset
Comment[fr]=Configuration de l'heure et de la date.
Comment[hr]=Konfiguracija datuma i vremena
Comment[hu]=Idő és dátum konfiguráció.
Comment[is]=Tíma og dagsetninga stillingar.
Comment[it]=Configurazione di data e ora
Comment[ja]=時刻と日付の設定
Comment[lt]=Laiko ir datos konfigūravimas
Comment[nl]=Tijd en Datum configuratie
Comment[pl]=Konfiguracja czasu i daty
Comment[pt_BR]=Configuração de hora e data
Comment[pt_PT]=Configuração da data e da hora
Comment[ro]=Configurarea orei și datei
Comment[ru]=Настройка даты и времени
Comment[sk_SK]=Nastavenie času a dátumu
Comment[sl]=Nastavitve časa in datuma
Comment[sv]=Tid- och datuminställningar
Comment[tr]=Tarih ve zaman yapılandırma aracı
Comment[uk]=Встановлення дати і часу
Comment[zh_CN]=时间和日期设置
Comment[zh_TW]=時間與日期設定

