[Desktop Entry]
Version=1.0
Type=Application
Icon=search-icon
Terminal=false
Exec=dbus-send --session --dest=org.jade.Desktop --type=method_call /org/jade/Desktop org.jade.Desktop.toggleSearch
X-AppStream-Ignore=true
StartupNotify=false
Name=Search
