[Desktop Entry]
Version=1.0
Type=Application
Icon=exit
Terminal=False
Exec=/usr/bin/bash -c "if ! pgrep -x '/usr/share/jadesktop/exit-menu' > /dev/null;then /usr/share/jadesktop/exit-menu;fi"
X-AppStream-Ignore=true
StartupNotify=false
Name=Exit
