@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local("NotoSans");
}

body * {
  font-family: Roboto !important;
}

.app .description {
  padding-top: 4px;
  display: none;
}

.app .icons-container .app-icon {
  font-weight: bold;
  width: 48px;
  filter: drop-shadow(1px 1px 1px black) brightness(0.8);
}

.app .icons-container .icon.info {
  color: #64b5f6;
  font-size: 33px;
}

.app {
  font-size: 12px;
  overflow: hidden;
  line-height: normal;
  text-align: center;
  cursor: pointer;
}

.app-title {
  padding: 6px;
  min-height: 48px;
  max-width: 120px;
  font-weight: bold;
}

#Applications {
  overflow: scroll;
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 0;
  right: 0;
  padding: 0 5%;
  padding-bottom: 6px;
}

.text-color, .app-title,
#options form,
.workspace input {
color: #e4e4e4 !important;
}

.app-title { 
  text-shadow: 2px 2px 1px black !important;
}


.icons-container {
    padding-top: 11px;
    overflow: hidden;
}

.icons-container:hover,
.icons-container:active {
    background: rgba(255, 255, 255, 0.2);
}

.icons-container:hover *,
.icons-container:active * {
  color: white !important;
}

.grid-item:hover,
.grid-item:active {
  transform: scale(1.1);
}

.grid-item {
  scroll-behavior: smooth;
}

.workspace label, #options h2 {
  color: #ffa726 !important;
}

[type="radio"]:not(:checked) + span:before, [type="radio"]:not(:checked) + span:after,
[type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
  border: 1px solid  #e4e4e4;
}

[type="radio"]:not(:checked) + span, [type="radio"]:checked + span {
  padding-left: 46px;
}

.applications-wrapper {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: opacity 0.4s ease-in-out;
  transform: translateY(-200%);
  will-change: opacity;
  opacity: 0;
}

.grid, .settings-grid {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

.grid-item {
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  margin-bottom: 40px;
  min-width: 120px;
  transition: transform 0.1s ease-in-out;
}



.applications-wrapper.show {
  transform: translateY(0%);
}

.applications-wrapper.opacity {
  opacity: 1;
}

*:focus {
  outline-color: black;
}

.category-icon {
  width: 24px;
}

*:focus {
  outline: none;
}

#settingsPanel {
  width: 100%;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  background-color: transparent;
  height: calc(100% - 50px);
  padding-bottom: 0;
  background: transparent;
  display: flex;
}

#settingsPanel h2 {
  margin-bottom: 0;
  font-size: 1rem;
  margin-top: 0;
  line-height: 48px;
  color: white;
  padding-left: 18px;
}

#settingsPanel h2 {
  font-size: 14px !important;
}

.applications-wrapper,
#settingsPanel .title,
#Settings {
  background-color: rgba(0, 0, 0, 0.66);
  }

.sidenav-overlay {
  background: transparent;
}

#settingsPanel h4 {
  margin-bottom: 24px;
}

#settingsPanel h4 {
  padding: 0 32px;
  margin-bottom: 5px;
  margin-bottom: 0;
  line-height: 48px;
  margin-top: 0;
}

#settingsPanel ul img {
  width: 26px;
  vertical-align: middle;
  margin-right: 22px;
  margin-top: -4px;
  margin-left: -3px;
}

#Settings {
  overflow: scroll;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: transparent;
    }

#options {
border-right: 1px solid transparent;
}

.tabs .indicator {
  background-color: #009688;
}

.tabs-content {
  height: inherit !important;
}

.carousel-item {
  overflow-y: scroll;
  padding-top: 10px;
}

input.valid[type=text]:not(.browser-default) {
  border-bottom: 1px solid #9e9e9e;
  box-shadow: none;
}

input.valid[type=text]:not(.browser-default):focus,
input.valid[type=text]:not(.browser-default):active {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}

.carousel-item, .background {
  background-color: transparent !important;
}

.tabs, .tabs-content {
background-color: rgba(0, 0, 0, 0.66) !important;
}

.tabs h2 {
 background:transparent !important;
}

#swipe-2 ul .workspace:first-of-type {
  padding-top: 18px;
}

#settingsPanel ul,
#categories-submenu,
#backgrounds-submenu {
  margin-top: 0;
  margin-bottom: 0;
}

#settingsPanel ul li label,
#categories-submenu li label,
#backgrounds-submenu li label {
  color: inherit;
  cursor: pointer;
}

#settingsPanel ul li p,
#categories-submenu li p,
#backgrounds-submenu li p {
  margin-bottom: 0;
}

#settingsPanel * {
  font-size: 12px !important;
  font-weight: 500 !important;
}

#Settings {
  width: calc(100% - 240px);
  height: 100%;
}

#Settings .settings-grid {
  position: relative;
  top: 10%;
}

.arrow-container {
  position: fixed;
  z-index: 99;
  display: flex;
  right: calc(4% - 32px);
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.arrow-container img {
  width: 80px;
}

.arrow-container img:hover {
  cursor: pointer;   
}

.arrow-container img:active {
  background: rgba(0, 0, 0, 0.4);
}

.devtools [type="checkbox"]:checked+span:after {
  border: 2px solid #fb8c00 !important;
  background-color: #fb8c00 !important;
}

#branches p:first-child [type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after {
  border: 2px solid #26a69a;
}

#branches p:last-child [type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after {
  border: 2px solid #f44336;
}

#branches p:nth-child(2) [type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after {
  border: 2px solid #fb8c00;
}

#branches p:first-child [type="radio"]:checked+span:before,
#branches p:first-child [type="radio"]:checked+span:after {
  border: 2px solid #26a69a;
  background-color: #26a69a;
}

#branches p:nth-child(2) [type="radio"]:checked+span:before,
#branches p:nth-child(2) [type="radio"]:checked+span:after {
  border: 2px solid #fb8c00;
  background-color: #fb8c00;
}

#branches p:last-child [type="radio"]:checked+span:before,
#branches p:last-child [type="radio"]:checked+span:after {
  border: 2px solid #f44336;
  background-color: #f44336;
}

#settingsPanel [type="checkbox"].filled-in+span:not(.lever) {
  height: 20px;
  line-height: 20px;
  padding-left: 46px;
}

#settingsPanel #options {
  width: 240px;
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

#settingsPanel .background {
  background: #eeeeee;
  position: relative;
  height: 100%;
}

input[type="file"] {
  display: none;
}

#settingsPanel form,
#settingsPanel .switch,
#categories-submenu,
#backgrounds-submenu,
.sidenav li > a {
  padding: 0 15px;
}

[type="radio"]+span:before,
[type="radio"]+span:after {
  margin-left: 2px;
}

#settingsPanel .switch .lever {
  margin-left: -8px;
}

#settingsPanel form p,
#categories-submenu p,
#backgrounds-submenu p {
  margin-top: 0;
  line-height: 48px;
}

#branches p,
#backgrounds-submenu p {
  line-height: 34px !important;
}

#video-background {
  height: 100%;
  width: 177.77777778vh;
  /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: 56.25vw;
  /* 100 * 9 / 16 */
  position: fixed;
  z-index: -2;
}

#options,
#Settings {
  filter: grayscale(1);
  transition: filter 0.4s ease-in-out;
}

.workspace {
  padding: 0 15px;
}

#options:hover,
#Settings:hover,
#Applications:hover,
#options:active,
#Settings:active {
  filter: grayscale(0);
}

.app-view-drag-target {
  position: absolute;
  top: 0;
  right: 0;
  width: 98%;
  height: 10px;
}

.drag-target {
  height: 95%;
  top: auto;
  bottom: 0;
}

.modal {
  top: 25% !important;
  overflow: visible;
}

#about .logo {
  width: 80px;
  height: 80px;
  text-align: center;
}

#about {
    background: transparent;
    box-shadow: none;
    text-align: center;
    padding: 0 8px !important;
    max-width: 600px;
    padding-top: 20px !important;
}

#about p {
  font-size: 18px;
}

.sidenav li > a:hover {
  background-color: transparent;
}

#about * {
  background: transparent !important;
  font-weight: bold;
  color: white !important;
  text-align: center !important;
}

.modal-content {
  padding-bottom: 0px !important;
}

.not-tab {
  display: inline-block;
}

.not-tab a {
  text-overflow: ellipsis;
  overflow: hidden;
}

.not-tab a, .tabs a {
  padding: 6px 8px !important;
}

.not-tab svg, .tabs svg {
  width: 28px;
  height: 28px;
  fill: silver;
  filter: drop-shadow(1px 1px 1px black);
}

#about p a:hover, #about p a:active, #about p a:focus {
  text-decoration: underline;
}

#categories-submenu,
#backgrounds-submenu {
  position: absolute;
  margin-top: 100px;
  z-index: 999;
  width: 260px;
  transform: translateX(-200%);
  transition: all 0.4s ease-in-out;
  padding: 0;
}

#backgrounds-submenu {
  z-index: 998;
}

#categories-submenu.show,
#backgrounds-submenu.show {
  transform: translateX(0);
}

.categories-container [type="checkbox"]:checked+span:after,
.backgrounds-container [type="checkbox"]:checked+span:after  {
  border: 2px solid #2196f3 !important;
  background-color: #2196f3 !important;
}

.search {
  position: fixed;
  top: calc(50% - 56px);
  left: 50%;
  padding: 0;
  background-color: transparent;
  transform: translate(-50%);
  padding-top: 0;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  z-index: -1;
  box-shadow: 0 1px 1px rgba(0,0,0,.15), 0 2px 2px rgba(0,0,0,.15), 0 4px 4px rgba(0,0,0,.15), 0 8px 8px rgba(0,0,0,.15);
}

.search input[type="text"] {
  margin-bottom: 0;
  height: 26px;
  background-color: rgba(250, 250, 250, 0.9);
  padding: 2px 12px;
  border-bottom: 1px solid #E53935;
  box-shadow: 0 1px 0 0 #E53935;
  color: #212121;
  font-weight: bold;
  padding: 14px 30px;
  width: 400px;
}

.search input[type="text"],
.collection-item,
.search ul .current-app {
  background-color: rgba(250, 250, 250, 0.90) !important;
}

.search input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #00897B;
  box-shadow: 0 1px 0 0 #00897B;
}

#search-icon {
  position: absolute;
  width: 36px;
  right: 24px;
  top: 10px;
}

.search ul {
  overflow: scroll;
  margin: 0;
  margin-top: 1px;
  border: 0;
  max-height: 39.8vh;
  border-radius: 0;
}

.search ul .current-app {
  position: fixed;
  top: -114px;
  height: 114px;
  display: none;
  text-align: center;
  left: 0;
  width: 100%;
  padding-top: 22px;
}

.current-app .title {
  font-size: 1rem;
  font-weight: bold;
  color: #212121;
  margin: 0;
  margin-top: 4px;
}

.search ul .current-icon {
  width: 60px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.4));
}

.search ul a:hover .current-app {
  display: block;
}

.search.show {
  z-index: 2;
  opacity: 1;
}

.collection-item {
  position: relative;
  color: #212121 !important;
}

.collection-item:hover,
.collection-item:active,
.collection-item:focus {
  background-color: white !important;
  color: #00897B !important;
}

.collection-item img:not(.current-icon) {
  float: right;
  width: 22px;
  filter: drop-shadow(1px 1px 1px grey);
}

.search-results {
  margin-top: 0;
}

@media only screen and (min-width: 1800px) {
  #settingsPanel {
    width: 50%;
  }
}

/* tour */
.tour-step1 {
  position: absolute;
  bottom: 0;
    left: 5px;
    height: 34px;
    width: 350px;
}
.tour-step2 {
  position: absolute;
  bottom: 0;
  right: 15px;
  height: 34px;
  width: 240px;
}

.introjs-helperLayer {
  background-color: transparent !important;
  border: 1px solid rgb(255, 255, 255) !important;
}

.introjs-skipbutton, .introjs-prevbutton {
  display: none !important;
}

.introjs-donebutton {
  display: inline-block !important;
}