html,
body {
    height: 100%;
    margin: 0;
}

#overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.57);
    position: fixed;
    overflow: scroll;
}

#background {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

#background:before {
    background-image: url(../img/dashboard.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -2;
}

#background.office:before {
    background-image: url(../img/office.jpg);
}

#background.development:before {
    background-image: url(../img/development.jpg);
}

#background.education:before {
    background-image: url(../img/education.jpg);
}

#background.multimedia:before {
    background-image: url(../img/multimedia.jpg);
}

#background.games:before {
    background-image: url(../img/games.jpg);
}

#background.graphics:before {
    background-image: url(../img/graphics.jpg);
}

#background.internet:before {
    background-image: url(../img/internet.jpg);
}

#background.system:before {
    background-image: url(../img/system.jpg);
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
}

.dashboard {
    margin-top: 16px;
    position: absolute;
    top: 148px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    padding: 76px 4px 0px 4px;
}

.application-box {
    display: block;
    padding-top: 2px;
    color: #fff;
    position: relative;
    z-index: 99;
}

.application-wrapper {
    margin-bottom: 20px;
    padding-left: 1.75rem !important;
    padding-right: 1.75rem !important;
}

nav {
    background-color: transparent;
    height: 56px;
    box-shadow: none;
}

nav a {
    margin-top: -5px;
    color: #f0f0f0;
}

nav a:hover {
    color: #fff;
}

nav ul {
    padding-right: 10px;
}

.application-name {
    font-size: 1rem;
    background: #fff;
    padding: 12px;
    color: #525252;
    border-radius: 0px;
}

.application-box img {
    width: 50px;
    position: absolute;
    right: 0px;
    z-index: 1;
    margin-top: -20px;
    margin-right: -20px;
}

.info-icon {
    width: 34px !important;
    margin-top: 10px !important;
    margin-right: 0px !important;
}

.application-comment {
    padding: 0px 15px 15px 15px;
    font-size: 0.9rem !important;
}

.display {
    position: fixed;
    top: 0px;
    z-index: -1;
    padding-top: 66px;
    padding-bottom: 10px;
    width: 100%;
    background-color: transparent;
    color: #fff;
    margin-top: 0px;
}

#time {
    font-size: 2.5rem;
}

#time,
#date {
    text-align: right;
}

.disk-usage {
    float: right;
    text-align: center;
    margin-right: 40px;
    margin-left: 38px;
    padding: 10px;
    width: 92px;
    border-radius: 100%;
    border: 1px solid;
}

.display a:focus {
    color: #fff;
}

a:focus {
    outline-style: solid;
    outline-width: 4px;
    outline-color: #fff;
}

.lock-screen {
    float: right;
    margin-right: 130px;
    margin-top: -28px;
    background-color: orange;
    text-transform: none;
}

#search-container {
    width: 200px;
    margin-left: 40px;
    margin-top: -34px;
}

#search-container input[type=text] {
    border: 0px;
    margin: 0px;
    height: 2rem;
    padding-left: 5px;
    background: #fff;
    color: #525252;
}

.search-results .application-comment {
    display: block !important;
}

.search-results {
    z-index: 1;
}

.application-comment,
.category-container,
.info-icon,
.search-results,
.category-msg,
#search-icon,
#recently-used-files {
    display: none;
}

.category-icon,
#search-icon img {
    margin-top: -9px;
    width: 52px;
}

.msg {
    position: absolute;
    margin-left: 40px;
}

.category-msg h5 {
    float: right;
    margin-left: 10px;
    line-height: 22px;
    font-size: 16px;
    margin-top: -5px;
}

.category-msg h5:first-letter {
    text-transform: capitalize;
}

#search-msg {
    float: right;
    position: absolute;
    margin-left: 220px;
    margin-top: -26px
}

.category-container .application-comment {
    padding-top: 42px;
}

.shutdown a,
.username {
    color: #525252;
}

div.box {
    padding: 10px;
    background: #fff;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    min-height: 256px;
    color: #525252;
}

.notes p:first-child {
    background-color: #1b1b1b;
    width: 120px;
    text-align: center;
    margin-left: -14px;
    color: #cccccc;
    margin-top: -6px;
}

.notes {
    text-decoration: none;
    background: #ffeb3b !important;
    border-top: 8px solid rgb(209, 203, 68);
}

.box p {
    padding: 6px;
}

.users {
    width: 60%;
    padding: 10px;
    padding-top: 20px;
    margin-left: 3%;
    padding-left: 4px;
}

#recently-used-files img {
    width: 60px;
}

#recently-used-files .filename {
    word-wrap: break-word;
    min-height: 44px;
    padding-left: 10px;
    padding-right: 10px;
}

.used-container-files {
    margin-bottom: 20px
}

.recent-files-button,
.favorit-applications-button,
#login,
#suspend,
#sleep,
#reboot,
#poweroff,
#hibernate,
.username {
    background-color: #fff;
    color: #525252;
}

.recent-files-button,
#login,
#suspend,
#sleep,
#reboot,
#poweroff,
#hibernate,
.username {
    border-top: 1px solid #b1b1b1;
    position: relative;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
}

.shortcuts a {
    position: relative;
}

.shortcuts .row {
    margin-top: -8px;
}

.shortcuts img {
    margin-bottom: 20%;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

.favorit-applications-button {
    border-top: 8px solid rgb(96, 125, 139);
    position: relative;
}

.username {
    border-top: 8px solid#ff9800;
}

.mini-dashboard .box {
    padding: 10px;
}

.recent-files-msg,
.dashboard-button {
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 22px;
    display: none;
}

.dashboard-button {
    height: 34px;
    margin-top: 12px;
}

.recent-files-msg a {
    margin-left: 20px;
    color: #fff;
}

#recently-used-files {
    position: relative;
    margin-top: -77px;
    display: none;
}

#recently-used-files .box {
    margin-bottom: 0px
}

#recently-used-files a {
    color: #525252;
}

.recent-files-button-close {
    margin-left: 40px;
}

.recent-img,
.favorites-img,
.users-img,
.logout-img,
.poweroff-img,
.reboot-img,
.hibernate-img,
.suspend-img,
.sleep-img {
    width: 30px;
    position: absolute;
    right: 5px;
    top: 6px;
}

::-webkit-scrollbar,
 ::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active,
::-webkit-scrollbar-corner {
    display: none;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 2px solid #e91e63;
    box-shadow: 0 2px 0 0 #e91e63;
}

div.marginleft:hover {
    margin-left: 20px !important;
}

video#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: -15;
    transform: translateX(-50%) translateY(-50%);
}

img.distibutor-logo {
    position: absolute;
    width: 5%;
    bottom: 20px;
    right: 10px;
}

.msg,
.disk-usage,
#time,
#date,
.username,
.notes p:first-of-type,
.favorit-applications-button {
    cursor: default;
}