html,
body {
    height: 100%;
    margin: 0;
    -webkit-user-select: none;
}

.content-editable {
   -webkit-user-select: text;
   min-height: 162px;
}

.bottom-corner-triangle, .top-corner-triangle {
   position: absolute;
   width: 0;
   height: 0;
   border-style: solid;
}

.top-corner-triangle {
	border-width: 184px 1500px 0 0;
   border-color: rgba(173, 22, 73, 0.83) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.04);
   top: 0;
   z-index: -99999;
}

.bottom-corner-triangle {
   border-width: 100px 400px 0px 0px;
   border-color: rgba(0, 0, 0, 0) #009688 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.04);
   position: absolute;
   bottom: 0;
   z-index: 999;
   right: 0;
}

#overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.57);
    position: fixed;
    overflow: scroll;
}

#background {
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

#background:before {
    background-image: url(../img/dashboard.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -2;
}

#background.office-background:before {
    background-image: url(../img/office.jpg);
}

#background.development-background:before {
    background-image: url(../img/development.jpg);
}

#background.education-background:before {
    background-image: url(../img/education.jpg);
}

#background.multimedia-background:before {
    background-image: url(../img/multimedia.jpg);
}

#background.games-background:before {
    background-image: url(../img/games.jpg);
}

#background.graphics-background:before {
    background-image: url(../img/graphics.jpg);
}

#background.internet-background:before {
    background-image: url(../img/internet.jpg);
}

#background.system-background:before {
    background-image: url(../img/system.jpg);
}

#background.settings-background:before {
    background-image: url(../img/settings.jpg);
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
}

.dashboard {
    margin-top: 46px;
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    padding: 20px 8px 0px 0px;
    z-index: 1;
}

.application-box {
    display: block;
    padding-top: 2px;
    color: #fff;
    position: relative;
    z-index: 99;
}

.application-wrapper {
    margin-bottom: 20px;
    padding-left: 1.75rem !important;
    padding-right: 1.75rem !important;
    padding-top: 8px !important; /* fix cut off images */
}

nav {
    background-color: transparent;
    height: 56px;
    box-shadow: none;
    line-height: 40px;
}

nav a {
    margin-top: 4px;
    color: #f0f0f0;
}

nav ul li,  nav a:hover {
    transition: none;
}

nav a:hover {
    color: #fff;
    background-color: transparent !important;
    border-bottom:  3px solid #009688;
}

nav ul {
    padding-right: 10px;
}

.application-name {
    font-size: 13px;
    background: #fff;
    padding: 12px;
    color: #525252;
    border-radius: 0px;
}

.application-box img {
    width: 50px;
    position: absolute;
    z-index: 999;
    margin-top: -20px;
    margin-right: -20px;
}

.application-icon {
    right: 0px;
    filter: drop-shadow(-1px 1px 1px rgba(36, 36, 36, 0.5));
}

.info-icon {
    margin-top: -26px !important;
    margin-right: -26px !important;
    right: 4px;
    padding-left: 4px;
}

.application-comment {
    padding: 15px 15px 15px 15px;
    font-size: 0.9rem !important;
    background-color: rgba(0, 0, 0, 0.52);
    margin-top: -10px;
}

.display {
    position: fixed;
    top: 0px;
    z-index: -1;
    padding-top: 86px;
    padding-bottom: 10px;
    width: 100%;
    background-color: transparent;
    color: #fff;
    margin-top: 0px;
}

#time {
    font-size: 2.5rem;
    color: #f0f0f0;
}

#time,
#date {
    text-align: right;
}

.disk-usage {
    float: right;
    text-align: center;
    margin-right: 40px;
    margin-left: 38px;
    padding: 10px;
    width: 93px;
    border-radius: 100%;
    color: #ffff;
    border: 2px solid transparent;
}

.display a:focus {
    color: #fff;
}

/* Ouline style when using keyboard */
a:focus {
    outline-style: solid;
    outline-width: 4px;
    outline-color: #009688;
}

#search-container {
    width: 200px;
    margin-left: 40px;
    margin-top: -22px;
    width: 200px;
    position: relative;
    z-index: 1;
}

#search-container input[type=text] {
    border: 0px;
    margin: 0px;
    height: 2rem;
    padding-left: 5px;
    background: #fff;
    color: #525252;
}

.search-results .application-comment {
    display: block !important;
}

.search-results {
    z-index: 1;
}

::-webkit-scrollbar,
::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active,
::-webkit-scrollbar-corner,
.application-comment,
.category-container,
.info-icon,
.search-results,
.category-msg,
#search-icon,
#recently-used-files,
#exit-menu {
  display: none;
}

.category-icon,
#search-icon img {
  width: 62px;
}

.msg {
    position: absolute;
    margin-left: 40px;
}
.category-msg, #search-icon {
  margin-top: -36px;
}
.category-msg h5 {
    float: right;
    margin-left: 72px;
    line-height: 22px;
    margin-top: 10px;
}
.category-msg h5 span {
    display: block;
    margin-left: -58px;
}
.category-msg h5 span:first-of-type {
   padding-bottom: 4px;
   font-size: 28px;
   color: #e7e7e7;
}
.category-msg h5 span:last-of-type {
   font-size: 15px;
   color: #232323;
}
.category-msg h5:first-letter {
    text-transform: capitalize;
}

#search-msg {
    float: right;
    position: absolute;
    margin-top: 10px;
    width: 300px;
    font-size: 12px;
    font-weight: bold;
}

.category-container .application-comment {
    padding-top: 42px;
}

.shutdown a,
.username {
    color: #525252;
}

.notes p:first-child {
    background-color: #323232;
    width: 120px;
    text-align: center;
    margin-left: -14px;
    color: #cccccc;
    margin-top: -6px;
}

.notes {
    text-decoration: none;
    background: #ffeb3b !important;
    border-top: 8px solid rgb(209, 203, 68);
    padding: 10px;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    min-height: 256px;
    color: #525252;
}

.notes p {
    padding: 10px;
}

.users {
    width: 60%;
    padding: 10px;
    padding-top: 20px;
    margin-left: 3%;
    padding-left: 4px;
}

#recently-used-files img {
    width: 80px;
    height: 80px;
}

#recently-used-files  a {
  color: #d5d5d5;
}

.used-container-files {
    margin-bottom: 60px;
    min-height: 130px !important;
}

.recent-files-button,
.favorit-applications-button,
#login,
#suspend,
#sleep,
#reboot,
#poweroff,
#hibernate,
.username,
.settings a,
.system a, 
.dash-right-button {
    background-color: #fff;
    color: #525252;
}

.recent-files-button,
#login,
#suspend,
#sleep,
#reboot,
#poweroff,
#hibernate,
.username,
.settings a,
.system a, 
.dash-right-button {
    border-top: 1px solid #b1b1b1;
    position: relative;
}

.mini-dashboard-shortcuts a {
    position: relative;
}

.mini-dashboard-shortcuts .row {
    margin-top: -8px;
}

.mini-dashboard-shortcuts img {
    margin-bottom: 20%;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5));
}

.mini-dashboard-left div:first-of-type a {
    border-top: 8px solid rgb(96, 125, 139);
    position: relative;
}

.mini-dashboard-exit .username {
    border-top: 8px solid#ff9800;
}

.mini-dashboard-left a,
.mini-dashboard-exit a,
.mini-dashboard-exit .username,
.dash-right-button {
    padding: 10px !important;
}

.dashboard-button {
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 22px;
    display: none;
}

.dashboard-button {
    margin-top: 26px;
}

.dashboard-button img {
width: 78px;
height: 78px;
filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}

#recently-used-files {
    position: fixed;
    display: none;
    top: 230px;
    height: calc(100% - 230px);
    z-index: 999;
    width: 100%;
}

#recently-used-files::after {
	content: "";
   top: 0;
   border-width: 100px 1000px 0px 0px;
   border-color: rgba(0, 0, 0, 0) rgba(23, 23, 24, 0.83) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.04);
   position: absolute;
   right: 0;
   width: 0;
   height: 0;
   border-style: solid;
}

#recently-used-files .row {
   margin-top: 100px;
   background-color: rgba(23, 23, 24, 0.83);
   padding-top: 20px;
   overflow: scroll;
   height: calc(90%);
   padding-bottom: 74px;
}

.mini-dashboard-exit img,
.mini-dashboard-left img {
    width: 30px;
    position: absolute;
    right: 5px;
    top: 6px;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 2px solid #e91e63;
    box-shadow: 0 2px 0 0 rgb(76, 175, 80);
}

div.marginleft:hover {
	 transition: margin-left 0.3s ease;
    margin-left: 11px !important;
}

img.jade-logo {
    position: absolute;
    width: 5%;
    bottom: 20px;
    right: 20px;
}

.disk-usage,
.msg,
#time,
#date,
.username,
.notes p:first-of-type,
.favorit-applications-button {
    cursor: default;
}

/* tooltips */
.backdrop {}

.material-tooltip {
    padding: 26px;
}

/* improve selection visibility */
#main-dashboard a,
.notes {
    filter: grayscale(24%) opacity(96%) brightness(94%);
}

#main-dashboard a:hover,
.notes:hover {
    filter: grayscale(0%) opacity(100%) brightness(100%);
}

.menu-bottom-decoration {
	background-color: #ff9800;
	height: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;

}

.menu-bottom-decoration  .dash-right-button {
	padding: 0px;
	background: transparent;
	border-top: 0px;
}

#exit-menu {
   height: 258px;
   width: 100%;
   overflow: hidden;
   padding-top: 1px;
   margin-bottom: 1px;   
}
#clear-search {
   margin-left: 12px;
   position: relative;
   width: 100px;
   margin-top: 18px;
   float: right;
   color: #fff;
   font-weight: bold;
   padding-bottom: 4px;
   text-align: center;
}

#clear-search:hover {
	border-bottom: 3px solid #009688;
}

