<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/materialize.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/materialize.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="../../js/main.js"></script>
</head>
<style>
  .search {
    opacity: 0;
    z-index: -2;
  }

  #screen-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 106%);
    width: 100%;
    position: fixed;
    height: 100%;
    bottom: 0;
    z-index: -1;
  }
</style>

<body>
  <main id="app">
    <div id="settingsPanel" class="sidenav">
      <div id="options">
        <ul>
          <li class="focus-on-hover">
            <h2>{{ title }}</h2>
          </li>
          <li class="focus-on-hover">
            <form action="#" class="categories-container">
              <p>
                <label>
                  <input id="categories-btn" type="checkbox" class="filled-in" />
                  <span>{{ categoriesTittle }}</span>
                </label>
              </p>
            </form>
            <ul id="categories-submenu" class="focus-on-hover">
              <li>
                <form id="activeCategories" action="#">
                  <p v-for="(value, key) in categories" v-if="key!='Settings'">
                    <label>
                      <img v-bind:src="value.icon">
                      <input v-bind:id="key.replace(/\s/g, '') + '-btn'" type="checkbox" class="filled-in" />
                      <span>{{ key }}</span>
                    </label>
                  </p>
                </form>
              </li>
            </ul>
          </li>
          <li>
            <a id="background-btn" href="#about" class="focus-on-hover">
              <label for="background-btn">
                <img v-bind:src="backgroundBtnIcon" id="background-icon-btn">
                {{ backgroundBtnText }}
            </a>
          </li>
          <li class="focus-on-hover">
            <form action="#" class="backgrounds-container">
              <p>
                <label>
                  <input id="video-background-btn" type="checkbox" class="filled-in" />
                  <span>{{ moodBackGroundText }}</span>
                </label>
              </p>
            </form>
            <ul id="backgrounds-submenu" class="focus-on-hover">
              <li>
                <form id="activeBackground" action="#">
                  <p>
                    <label>
                      <input id="disabled-btn" type="radio" name="activeBackground" class="filled-in" />
                      <span>{{ disabledText }}</span>
                    </label>
                  </p>
                  <p v-for="video in videos">
                    <label>
                      <input v-bind:id="video.replace(' ', '-') + '-btn'" type="radio" name="activeBackground"
                        class="filled-in" />
                      <span>{{ video }}</span>
                    </label>
                  </p>
                </form>
              </li>
            </ul>
          <li>
          <li>
            <a class="focus-on-hover" id="defaults-btn" href="#!">
              <img id="restore-icon-btn" v-bind:src="restoreBtnIcon">
              {{ restoreText }}
            </a>
          </li>
          <li>
            <a class="focus-on-hover modal-trigger" href="#about" data-target="about">
              <img v-bind:src="aboutBtnIcon" id="about-icon-btn">
              {{ aboutText }}
            </a>
          </li>
          <li class="focus-on-hover">
            <form action="#" class="devtools">
              <p>
                <label>
                  <input id="devtools-btn" type="checkbox" class="filled-in" />
                  <span>{{ devToolsText }}</span>
                </label>
              </p>
            </form>
          </li>
        </ul>
        <ul id="devtools">
          <li class="focus-on-hover">
            <form action="#">
              <p>
                <label>
                  <input id="inspector-btn" type="checkbox" class="filled-in" />
                  <span>{{ inspectorText }}</span>
                </label>
              </p>
            </form>
          </li>
          <li>
            <h4>{{ branchTitle }}</h4>
          </li>
          <li class="focus-on-hover">
            <form id="branches" action="#">
              <p>
                <label>
                  <input name="branches" type="radio" id="stable-btn" />
                  <span>{{ stable }}</span>
                </label>
              </p>
              <p>
                <label>
                  <input name="branches" type="radio" id="testing-btn" />
                  <span for="testing">{{ testing }}</span>
                </label>
              </p>
              <p>
                <label>
                  <input name="branches" type="radio" id="unstable-btn" />
                  <span for="unstable">{{ unstable }}</span>
                </label>
              </p>
            </form>
          </li>
          <li>
            <h4>{{ experimentalFeaturesText }}</h4>
          </li>
          <li class="focus-on-hover">
            <div class="switch">
              <label>
                <input id="auto-tile-btn" type="checkbox">
                <span class="lever"></span>
                {{ tileText }}
              </label>
            </div>
          </li>
        </ul>
      </div>
      <section id="Settings" class="grid"></section>
    </div>
    <section id="Applications" class="grid"></section>
    <div class="search">
      <img v-bind:src="searchBtnIcon" id="search-icon">
      <input type="text" v-model="searchQuery">
      <ul class="collection" v-if="searchQuery">
        <li v-for="item in filter">
          <a class="collection-item" v-bind:href="'ipc:' + item.path">
            <img v-bind:src="item.icon">
            <span class="title">{{ item.name }}</span>
            <div class="current-app">
              <img class="current-icon" v-bind:src="item.icon">
              <p class="title">{{ activeAppText }}{{ item.name }}</p>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <video id="video-background" loop autoplay>
    </video>
    <div id="about" class="modal speech-bubble">
      <div class="modal-content">
        <h4>{{ aboutTitle }}</h4>
        <p>
          {{ aboutAuthor }}
          <br>{{ aboutDescription }}
          <br>{{ aboutLicense }}
          <br><a v-bind:href="url">{{ urlText }}</a>
        </p>
      </div>
      <div class="modal-footer">
        {{ warranty }}
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">{{ ok }}</a>
      </div>
    </div>
    <div id="screen-overlay"></div>
    <div class="app-view-drag-target"></div>
  </main>
</body>

</html>