[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Desktop
GenericName=Jade Dashboard
Comment=Jade is a Desktop Dashboard that provides minimal desktop environment functionality
Path=/opt/jade
Exec=/bin/jade-desktop
Icon=/opt/jade/img/jade-logo.svg
Terminal=false
Categories=Utility;Core;GTK;GNOME;JADE;
Name[en_GB]=Desktop
